
.table {
    position: relative;
    -webkit-user-select: none;
    box-shadow: 0 0 1px rgb(44, 12, 123);
    border-radius: 8px;
    transition-duration: 400ms;
}

.table .handler {
    color: rgb(160, 145, 253);
}

.table input {
    border: none;
    outline: none;
}

.table .cell {
    width: 200px;
    height: 50px;
    text-align: center;
    position: absolute;
    line-height: 50px;
    outline: none;
    transition-duration: 400ms;
}

.table .circle {
}

.table .axis {}

.table .x {
}

.table .y {
}

.table .point {
    white-space: nowrap;
    overflow: scroll;
}

.table .add {
    font-size: 18px;
    cursor: pointer;
    color: red;
}